.review-form {
  &-legend {
    grid-row: legend-start/legend-end;
    grid-column: -1/1;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 11px;
  }
  &-products {
    grid-column: 1/-1;
    grid-row: product-start/product-end;
    overflow-y: scroll;

    display: grid;
    grid-template-rows: repeat(auto-fit, 80px);
    grid-row-gap: 15px;
  }
  &-line {
    grid-column: 1/-1;
    grid-row: line-start/line-end;
    border-top: 1px solid #cccccc;
    margin-bottom: 24px;
  }
  &-back {
    grid-row: button-start/button-end;
    grid-column: back-start/back-end;
  }
  &-proceed {
    grid-row: button-start/button-end;
    grid-column: proceed-start/proceed-end;
  }
  &-details {
    grid-row: 1/-1;
    grid-column: 1/-1;
    justify-self: end;
    align-self: end;
    transform: translateX(-40px) translateY(70px);
  }
}

// .review-details {
//   &-subtotal {
//   }
//   &-shipping {
//   }
//   &-tax {
//   }
//   &-total {
//   }
// }

.review-detail {
  display: grid;
  grid-template-columns: [title-start]1fr [title-end] 65px [price-start] 1fr [price-end];
  grid-template-rows: 1fr;
  align-items: center;

  &-title {
    grid-column: title-start/title-end;
    grid-row: 1/-1;
    text-align: right;
    font-size: 14px;
  }
  &-price {
    grid-column: price-start/price-end;
    grid-row: 1/-1;
    font-size: 18px;
    font-weight: 600;
  }
}
.review-detail-orange {
  margin-top: 18px;
  &-price,
  &-title {
    font-weight: 600;
    color: orange;
  }
}
